@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Libre+Franklin:ital,wght@1,100&display=swap');
body{
    margin: 0;
    background-color: black;
}

header{
    width: 100%;
    background-color: #282147;
    margin: auto;
    font-size: 70px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #fff;
}

h6{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

img{
    width: 10%;
    margin: 10px;
}

h5{
    margin: 0;
    font-size: 8px;
    color: #fff;
    text-align: center;
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
}

@media (max-width:768px){
    img{
        width: 30%;
        padding: 10px;
    }
}