.rojo{
    margin: 0;
    text-align: center;
    font-size: 15px;
}

.perro{
    margin: 0;
    color: red;
    font-size: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Libre+Franklin:ital,wght@1,100&display=swap');
body{
    margin: 0;
    background: -webkit-linear-gradient(to right, #42275a, #734b6d);

    background: linear-gradient(to right,  #42275a, #734b6d);
}

header{
    width: 100%;
    text-align: center;
    color: #fff;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #42275a, #734b6d);
    background: linear-gradient(to right,  #42275a, #734b6d);
}

.menu{
    font-size: 70px;
    font-family: 'Lobster', cursive;
    margin: 0;
}

h6{
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

#image{
    margin: auto;
    width: 30%;
}

h5{
    margin: 0;
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
}
@media (max-width:768px){

    #image{
        margin: 0 auto;
        width: 50%;
    } 

    .menu{
        font-size: 50px;
    }
}