@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    
}

.copy{
    font-size: 20px;
    color: #fff;
    font-family: 'Anton';

}

.sociales{
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-family: 'Anton';
}

.sociales a{
    color: #fff;
    text-decoration: none;
}

@media (max-width:760px){
    .sociales{
        width: auto;
    }

    footer .contenedor{
        justify-content: space-between;
    }
}

