
.video-de-youtube{
    height: 0px;
    padding-bottom: 56.25%;
    position: relative; 
    z-index: 1;
    border-radius: 5px;
}


.video-de-youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    border-radius: 5px; 
}

.padre{
    pointer-events: none;
}

.padre{
    width: 60%;
    margin: 20PX auto;
    border-radius: 5px;
}

.tex-video{
    font-family: 'Anton';
    color: #FFF;
    justify-content: center;
    border-radius: 5px;
}


@media (max-width:760px){
    .padre{
        width: 90%;
        margin: 20PX auto;
    }
}