
.fm-video .vjs-big-play-button{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    line-height: 80px;
}


.video-de-youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    border-radius: 5px; 
}

.class{
    width: 30%;
    
}

video{
    width: 100%;
    border-radius: 5px;
}

.padre{
    width: 60%;
    margin: 20PX auto;
    border-radius: 5px;
}

.tex-video{
    font-family: 'Anton';
    color: #FFF;
    justify-content: center;
    border-radius: 5px;
}


@media (max-width:760px){
    .padre{
        width: 90%;
        margin: 20PX auto;
    }
}