
.icon-user:before { content: '\e800'; } /* '' */
.icon-rss:before { content: '\e801'; } /* '' */
.icon-vcard:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-doc-text-inv:before { content: '\e805'; } /* '' */
.icon-picture:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-warehouse:before { content: '\e840'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */